<header>
    <a href="" class="logo">
        <img src="/assets/ghost-50.png" alt="">
    </a>

    <ul class="navlist">
        <li><a href="">Home</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact US</a></li>
        <li><a href="">About Us</a></li>
    </ul>

    <div class="nav-right">
        <a href="#" class="o-btn">Get Icons</a>
        <div class="bx bx-menu" id="menu-icon" (click)="showMenu()"></div>
    </div>

</header>



<section class="hero">
    <div class="main-content">
        <h1 class="slideInLeft">Halloween season <br> with our store. </h1>
        <p class="slideInRight">Join us for a fun and exciting Halloween, complete with unique costumes and delicious treats. Don't miss the
            chance to create unforgettable memories. Welcome a Happy Halloween with us! 🎃👻🕷️</p>
    </div>

    <div class="button slideInUp">
        <a href="" class="btn-1">Login or Sign up</a>
        <a href="" class="btn-2">Order now</a>
    </div>
</section>

<div class="social-icons">
    <a href="#"><i class="ri-instagram-fill"></i></a>
    <a href="#"><i class="ri-twitter-fill"></i></a>
    <a href="#"><i class="ri-linkedin-fill"></i></a>
    <a href="#"><i class="ri-tiktok-fill"></i></a>
    
</div>